// Estilos personalizados para el botón Add Goal

.btn-info {
  margin-left: 10px;
  margin-top: 20px;
  border-radius: 8px;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-addgoal {
  width: 200px;
  height: 40px;
  font-size: 16px;
  padding: 6px 12px;
  text-align: center;
}
